#header-img{
    max-height: 50px;
}

ul {
    list-style-type: none;
}

#nav-bar{
    scroll-behavior: inherit;
}

.nav-link {
    text-decoration: none;
    font-weight: bold;
    color: white;
}

.nav-link:hover {
    color: black;
}

.bg-opacity-10{
    background-color: rgb(233,233,233,0.8) !important;
}

@media (min-width: 768px){
    #pricing{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    iframe {
        height: 560px;
    }
}